<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono&display=swap" rel="stylesheet">
    <title>Status</title>
</head>
<body style="font-family: 'Raleway';">
    <div class="container">
        <h1 name='headerutama' style="font-family: 'Roboto Mono', monospace;" class= 'mt-4 mb-4'>Halo,Apa Kabar?</h1>
            <div class="row">
                <div class="col-8">
                    <form method="POST"  class="mb-4 mt-4">

                        {% csrf_token %}
                        {% for field in form %}
                        {{field}}
                        {% endfor %}

                        <button type="submit" class="btn btn-success btn-lg mt-4" id='postbutton'>Post</button>
                    </form>
                    {% for i in semua_status %}

                    <h3> {{i.status_desc}} </h3>
                    <p>  {{i.waktu}} </p>

                    {% endfor %}

                </div>
            </div>
    </div>

</body>
</html>